<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="guibuilder"
         name="GUI Builder"
         point="pt.iscte.pidesco.view">
      <view
            class="pt.iscte.pidesco.guibuilder.internal.GuiBuilderView"
            icon="iconframe24.png">
      </view>
   </extension>

</plugin>
