<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="inspectorAction" name="Inspector Action" schema="schema/InspectorAction.exsd"/>
   <extension
         id="design"
         name="Inspector"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.inspector.gui.InspectorView">
      </view>
   </extension>

</plugin>
