<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="design"
         name="List of Services"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.inspector.gui.Display">
      </view>
   </extension>

</plugin>
