<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="CheckStyleTool"
         name="CheckStyle Tool"
         point="pt.iscte.pidesco.tool">
      <tool
            class="pa.iscde.checkstyle.internal.tool.CheckStyleTool"
            description="Check code with CheckStyle"
            hasState="false"
            icon="cs-icon.png"
            view="pt.iscte.pidesco.projectbrowser.tree">
      </tool>
   </extension>
   <extension
         id="CheckStyleView"
         name="CheckStyle violations"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.checkstyle.view.CheckStyleView"
            icon="cs-icon.png">
      </view>
   </extension>

</plugin>
